h1 {
  color: purple;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  color: darkgreen;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
}

p,li {
  color: violet;
  font-family: 'Oswald', sans-serif;;
  letter-spacing: 2px;
}

#image {
  text-align: center;
}

#maui, #oahu, #big {
  display: none;
  color: violet;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#results {
  margin-bottom: 24px;
}
